{{ if ne $.Site.Taxonomies.categories nil}}
	{{ if gt (len $.Site.Taxonomies.categories) 0 }}
	{{ $lang := .Lang }}
	<aside class="col-md-4 section__secondary">
	  <div class="sidebar">
	      <div class="block-categories">
	        <div class="ruler ruler--dynamic"></div>
			<h4 class="h2 m-bottom-4y">{{ $.Site.Params.params.categories }}</h4>
			<ul class="list--unstyled">
			  {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
			    <li>
			    	<a href="/{{$lang}}/categories/{{ $name | urlize }}">{{ lower (replace $name "-" " ") }} 
			    		<div class="length">({{len $taxonomy}})</div>
			    	</a>
			    </li>
			  {{ end }}
			</ul>
	      </div>          
	  </div>
	</aside>   
	{{ end }}
{{ end }}	