{{ $data := .data }}
{{ $context := .context }}
{{ $lang := .lang }}

{{ $.Site.Language }}

<div class="m-bottom-6y">
  <div class="block-post-without-img">{{ .Params.link }}
      <a href="{{ $context.Params.link }}">
          {{$langs := index $data.lang (print $lang) }}
          <h2 class="font-alternate"><span class="highlighted">{{ $context.Title }}</span> 
            {{ if ne (print $lang) (print $context.Language) }}
            ({{index $langs (print $context.Language) }})
            {{ end }}
          </h2>
      </a>

      <div class="color-grey-dark">
        <p>{{ markdownify $context.Description}}</p>
      </div>
  </div>
</div>