{{ $data := .data }}
{{ $context := .context }}
{{ $lang := .lang }}

{{ $.Site.Language }}

<div class="m-bottom-6y">
  <div class="block-post-without-img">
      <a href="{{ .Params.link }}">
          {{$langs := index $data.lang (print $lang) }}
          <h2 class="font-alternate"><span class="highlighted">{{ $context.Title }}</span> ({{index $langs (print $context.Language) }})</h2>
      </a>

      <div class="color-grey-dark">
        <p>{{ markdownify $context.Description}}</p>
      </div>
  </div>
</div>