    <div data-dropdown="" class="dropdown language-drop-down">
        <button data-dropdown-trigger="" aria-label="Cambio de idioma" aria-expanded="false" aria-controls="dropdown__content2" class="btn btn--primary dropdown__trigger dropdown-button-header">
            {{ .Language.LanguageName }}                                
            {{ if .IsTranslated }}
            <span class="icon icon--arrow-down icon--small bold m-left-x2"></span>
            {{ end }}
        </button>
        {{ if .IsTranslated }}
        <div id="dropdown__content2" role="menu" class="dropdown__content dropdown__list">
            <button aria-label="Cerrar idioma" aria-controls="dropdown__content2" data-dropdown-trigger="" class="btn btn--primary close">
                <span aria-hidden="true" class="icon icon--close"></span>
            </button>
            {{ range .Translations }}
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a><br />
            {{ end }}
        </div>
        {{ end }}
    </div>
