<!DOCTYPE html>
<html lang="ca">

<head>
    {{ partial "head.html" . }}
</head>

<body class="brand-secondary">

	{{ partial "header_uoc.html" . }}

	<main id="main" class="site-main" role="main">
	    <div class="container">
	       
    	{{ partial "title.html" . }}

				{{ $lang := .Site.Language }}
				{{ range $index, $value := where ( where .Site.AllPages "Section" "links") ".Kind" "=" "page" }}
					{{ if eq (mod (add $index 1) 2) 1}}
						<div class="row">
					{{ end }}

						<div class="col-md-6">	
							{{ partial "post-home.html"  (dict "data" $.Site.Data "context" $value "lang" $lang)  }}
						</div>

					{{ if eq (mod (add $index 1) 2) 0}}
						</div><!-- row -->
					{{ end }}

				{{ end }}
	    </div><!-- container -->
	</main>

	{{ partial "footer.html" . }}


</body>

</html>