<!DOCTYPE html>
<html lang="ca">

<head>
    {{ partial "head.html" . }}
</head>

<body class="brand-secondary">

	{{ partial "header_uoc.html" . }}

	<main id="main" class="site-main" role="main">
	    <div class="container">
	       
    	{{ partial "title.html" . }}

	    <div class="row">
            <div class="col-md-12">            
                    
				{{ range where .Paginator.Pages "Section" "links" }}
					{{ partial "post-home.html" . }}
			    {{ end }}
			    
            </div><!-- row -->

		    {{ template "_internal/pagination.html" . }}

   
	    </div><!-- container -->
	</main>

	{{ partial "footer.html" . }}


</body>

</html>